@import 'tailwindcss';
@plugin "daisyui";

@font-face {
  font-family: 'Source Sans Pro 1';
  src: url('/src/fonts/sourcesansprosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
}

@font-face {
  font-family: 'Source Sans Pro 2';
  src: url('/src/fonts/sourcesansprobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}

@font-face {
  font-family: 'Source Sans Pro 3';
  src: url('/src/fonts/sourcesansproblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  line-height: 120%;
}
